{% extends "layout.html" %}
{% block title %}Scrapper{% endblock %}
{% block content %}
    <h1>Notifiche</h1>
<div class="jumbotron">
    <h2>Azioni</h2>
    <div class="notification">
    <ul>
    {% for line in notification_s%}
    <li>
        {{ line | capitalize }}
    </li>
    {% endfor %}
    </ul>
    </div>
    <h2>Obbligazioni</h2>
    <div class="notification">
    <ul>
    {% for line in notification_b%}
    <li>
        {{ line | capitalize }}
    </li>
    {% endfor %}
    </ul>
    </div>
    <h2>Treasury</h2>
    <div class="notification">
    <ul>
    {% for line in notification_bt%}
    <li>
        {{ line | capitalize }}
    </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}
